/* Main chart container */
#plot-container {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px 40px 10px 40px;
  margin: 0 auto;
  /* max-width: 1800px; */
  /* box-sizing: border-box; */
}

/* Each chart card */
.js-plotly-plot {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  /* padding: 1rem; */
  /* transition: transform 0.2s ease, box-shadow 0.2s ease; */
}

.js-plotly-plot .surface {
  cursor: pointer;
}

/* Legend + tooltips */
.js-plotly-plot .legendtext,
.js-plotly-plot .hoverlayer {
  text-transform: capitalize;
  font-size: 13px;
}

/* Quick link button */
.quick-link-container {
  margin-top: 12px;
  text-align: center;
  width: 100%;
}

.quick-link.button {
  background: #2563eb;
  color: #fff !important;
  padding: 0.4rem 1rem;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  transition: background 0.3s ease;
}

.quick-link.button:hover {
  background: #1e40af;
}

.dashboard:not([class*="app-"]) #container #content {
  margin: 0 auto;
  width: auto;
}
.dashboard:not([class*="app-"]) #container #content-main {
  width: 63%;
}
.dashboard:not([class*="app-"]) #container #content-related {
  width: 35%;
  margin-left: 2%;
  margin-right: 0;
}

/* Responsive */
@media (max-width: 768px) {
  #plot-container {
    grid-template-columns: 1fr; /* stack cards on small screens */
  }
  .quick-link.button {
    width: 100%;
  }
}
